<ion-header>
  <ion-navbar color=primary>
    <ion-title>Slack Player</ion-title>
    <ion-buttons end>
      <button ion-button 
      *ngIf="!auth.isAuthenticated()"
      (click)="auth.login()">
        Log In
      </button>

      <button ion-button 
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Log Out
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="auth.isAuthenticated()">
    <div>
      <ion-segment [(ngModel)]="switcher">
        <ion-segment-button segment-activated value="player">
          Player
        </ion-segment-button>
        <ion-segment-button value="latest">
          Latest
        </ion-segment-button>
        <ion-segment-button value="channels">
          Channels
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="auth.isAuthenticated()">
  <div [ngSwitch]="switcher">
    <div *ngSwitchCase="'player'">    
        <!-- <ion-list>
          <ion-item>
            <ion-label>Voice Option</ion-label>
            <ion-select [(ngModel)]="selectedVoice">
              <ion-option *ngFor="let voice of voices" value="voice.name" [selected]="voice.name == selectedVoice">{{voice.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list> -->
      <button ion-button color=special ngClass="playbtn" (click)=playLatest()><ion-icon name="play"></ion-icon></button>        
      <h5>{{ currentMessage }}</h5>
    </div>
  
    <ion-list *ngSwitchCase="'latest'">
      <ion-item *ngFor="let message of messages" (click)=setCurrentMessage(message)>
        <ion-thumbnail item-start>
          <button ion-button><ion-icon name="play"></ion-icon></button>
        </ion-thumbnail>
        <h2>{{ message.user_info.user.real_name }} in #{{ message.channel_info.channel.name }}</h2>
        <p>{{ message.event.event_ts * 1000 | date}}</p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'channels'">
      <ion-item *ngFor="let channel of channels">
        <h2>#{{channel.name}}</h2>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-content padding *ngIf="!auth.isAuthenticated()">
  <div style="text-align: center; padding: 10px 20px;">
    <img src="../../assets/images/slackplayer.png" width="60%" />
    <h1>Slack Player</h1>
    <p>Listen to audible Slack conversations in realtime while you're on the go. Login to get started!</p>
    <button ion-button 
    (click)="auth.login()">
      Log In
    </button>
  </div>
</ion-content>
